.basic-page {
	p {
		color: $purple;
	}

	.intro-paragraph {

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		h1 {
			display: inline-block;
			font-size: em(42);
			color: $purple;

			@media (min-width: em(768)) {
				width: calc(33% - 15px);
				float: left;
			}
		}
		.intro-body {
			font-size: em(16);
		    line-height: 1.8;
		    font-weight: 400;
		    font-style: normal;
		    margin: 0 0 25px 0;

			@media (min-width: em(768)) {
				width: calc(66% - 15px);
				float: right;
			}
		}
	}
	.basic-page-block {
		margin-bottom: 20px;
		&:after {
			content: '';
			display: table;
			clear: both;
		}
		
		.field-title {
			border-bottom: 1px solid $gray;
			margin-bottom: 20px;

			h4 {
				color: $purple;
				display: block;
				font-size: em(24);
				font-weight: 500;
				margin-bottom: 20px;
			}
		}
		
		.field-body {
			text-align: left;

			@media (min-width: em(768)) {
				width: calc(66% - 15px);
				float: right;
			}
		}
	}
	ul {
      margin-bottom: 40px;

      li {
        position: relative;
        padding: 0 40px 0 20px;
        margin-bottom: 20px;
        line-height: 1.68;
        font-size: em(16);

        color: $purple;
        &:before {
          position: absolute;
          content: '•';
          left: 0;
          top: 2px;
        }
      }
      ul {

        li {

          &:before {
            position: absolute;
            content: '⚬';
            left: 0;
          }
        }
      }
    }
}