table {
	width: 100%;
	margin-bottom: 40px;
	thead {
		tr{
			display: flex;
			background-color: $superlightGray;
			padding: 10px 10px;
			border-top: 1px solid $verylightGray;
			text-align: left;	
			th {
				flex: 3;
				font-weight: 600;
				+ th {
					flex: 1;
					text-align: center;
				}
			}
		}
	}
	tr {
		border-bottom: 1px solid $verylightGray;
		display: flex;
		padding: 10px 10px;
		align-items: center;
		
		td {
			flex: 3;
			+ td {
				flex: 1;
				text-align: center;
				font-weight: 500;
			}
		}
		
		td:last-of-type {
			//color: $verylightGray; 
		}
	}
	p {
		font-size: em(14);
	}
}