$magenta: #BA0E82
$blue:    #485DAA
$green:   #55A43D
$teal:    #00A4B3

$orange:  #F36633
$white:   #FFFFFF

$lightOrange: #EEA32D


.color-theme-block
  display: block
  position: relative
  height: 200px
  margin-bottom: -150px
  .color-theme-blue &
    background-color: $blue
  .color-theme-green &
    background-color: $green
  .color-theme-magenta &
    background-color: $magenta
  .color-theme-teal &
    background-color: $teal

@media (min-width: 768px)
  .color-theme-block
    height: 300px
    margin-bottom: -250px 
@media (min-width: 992px)
  .color-theme-block
    height: 500px
    margin-bottom: -400px   

.block,
.main-page-content    
  h2,h3 
    color: $teal

.main-page-content 
  .intro-text p, .contact-us p 
    color: $orange


.color-match,
.intro-text.color-match p
  .color-theme-blue &
    color: $blue
  .color-theme-green &
    color: $green   
  .color-theme-magenta &
    color: $magenta   
  .color-theme-teal &
    color: $teal  

