a.button,
input[type="button"],
input[type="submit"],
.action-link a,
.action-link a:visited
  background-color: $orange
  color: $white
  border-radius: 0px
  cursor: pointer

a.button
  text-decoration: none
  &:hover, &:active, &:visited 
    background-color: $orange
    color: $white
    opacity: 1
  &.button-inverse
    background-color: #383838
    &:hover, &:active, &:visited 
      background-color: #383838

img.no-stretch
  width: auto


