a.button,
input[type="button"],
input[type="submit"],
.action-link a,
.action-link a:visited
  background-color: $orange
  color: $white
  border-radius: 0px
  &.button-inverse
    background-color: #383838


img.no-stretch
  width: auto


