.scientist-menu
  .views-view-grid .views-col
    padding: 20px
    img 
      border-right: 1px solid #333333
      border-bottom: 1px solid #333333
      -webkit-box-shadow: 0 5px 10px 10px rgba(0,0,0,.2)
      box-shadow: 0 5px 10px 10px rgba(0,0,0,.2)

.down-arrow
  margin-bottom: 40px