<div class="video-background" >
	<img src="/sites/scienceinthesummer/files/images/videos/Overview%20Video%20Still.jpg">

	<div class="video-info">

		<div class="video-title">
			<h2>Science in the Summer</h2>
		</div>
		<div class="video-description">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas nunc eget quam eleifend mollis. Nunc a porta neque.</p>
		</div>
		<div class="video-link action-link big">
			<a href="/join-us">Learn more</a>
		</div>
	</div>

	<span class="play-button" id="play-button">Play</span>
	<div class="video-player">
    <div class="close-video-player">X</div>
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/g_5Klm66Pes" frameborder="0" allowfullscreen></iframe>
	</div>
</div>