
.flex-grid {
	display: flex;
	flex-wrap: wrap;
	.button {
		margin-right: em(16);
		margin-bottom: em(16);
	}
}
.grid-two-col {
	display: grid;
	overflow: hidden;
	margin-bottom: 30px;
	display: grid;
  	grid-gap: 15px;
  	grid-template-columns: repeat(auto-fill, minmax(100%,1fr));
  	width: 100%;
	@media (min-width: em(600)) {
      grid-template-columns: repeat(auto-fill, minmax(calc(50% - #{16px}),1fr));
    }
}

.grid-three-col {
	display: grid;
	overflow: hidden;
	display: grid;
  	grid-gap: 15px;
  	grid-template-columns: repeat(auto-fill, minmax(100%,1fr));
  	width: 100%;
	@media (min-width: em(600)) {
      grid-template-columns: repeat(auto-fill, minmax(calc(50% - #{16px}),1fr));
    }

    @media (min-width: em(960)) {
      grid-template-columns: repeat(auto-fill, minmax(calc(33% - #{16px}),1fr));
    }
}

// padding-bottom
.pb {
	padding-bottom: em(36);
}