.main-page-heading
  text-align: center
  color: $white
  background-color: $light_cream
  background-image: url('../images/bkgd_header.png')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  padding: 40px !important
  .site-partner-logo img
    width: 55px
  h1
    font-family: $gotham
    font-weight: 900
    font-size: 33px
    line-height: 36px
    a 
      color: $white
  .site-name-subhead
    font-weight: 500
    font-size: 18px
    line-height: 20px




.bkgd-pattern-bottom
  background-color: $white
  background-image: url('../images/bkgd_icons.png')
  background-position: center bottom
  background-repeat: no-repeat
  background-size: contain 
